In [ ]:
import pandas as pd
import matplotlib as plt
import numpy as np

In [4]:
df = pd.read_csv("./Data/doit_pandas/data/banklist.csv")

In [15]:
print(df.head())
print("-------")
print(df.tail())

                                           Bank Name         City  ST   CERT  \
0                Washington Federal Bank for Savings      Chicago  IL  30570
1    The Farmers and Merchants State Bank of Argonia      Argonia  KS  17719
2                                Fayette County Bank   Saint Elmo  IL   1802
3  Guaranty Bank, (d/b/a BestBank in Georgia & Mi...    Milwaukee  WI  30003
4                                     First NBC Bank  New Orleans  LA  58302

                 Acquiring Institution Closing Date Updated Date
0                   Royal Savings Bank    15-Dec-17    20-Dec-17
1                          Conway Bank    13-Oct-17    20-Oct-17
2            United Fidelity Bank, fsb    26-May-17    26-Jul-17
3  First-Citizens Bank & Trust Company     5-May-17    26-Jul-17
4                         Whitney Bank    28-Apr-17     5-Dec-17
-------
                             Bank Name        City  ST   CERT  \
550                 Superior Bank, FSB    Hinsdale  IL  32646
551                Malta National Bank       Malta  OH   6629
552    First Alliance Bank & Trust Co.  Manchester  NH  34264
553  National State Bank of Metropolis  Metropolis  IL   3815
554                   Bank of Honolulu    Honolulu  HI  21029

                   Acquiring Institution Closing Date Updated Date
550                Superior Federal, FSB    27-Jul-01    19-Aug-14
551                    North Valley Bank     3-May-01    18-Nov-02
552  Southern New Hampshire Bank & Trust     2-Feb-01    18-Feb-03
553              Banterra Bank of Marion    14-Dec-00    17-Mar-05
554                   Bank of the Orient    13-Oct-00    17-Mar-05

In [6]:
print(type(df))

<class 'pandas.core.frame.DataFrame'>

In [21]:
print(df.shape,'\n',df.shape[0],'\n',df.shape[1])

(555, 7)
 555
 7

In [9]:
print(df.columns)

Index(['Bank Name', 'City', 'ST', 'CERT', 'Acquiring Institution',
       'Closing Date', 'Updated Date'],
      dtype='object')

In [11]:
print(df.dtypes)

Bank Name                object
City                     object
ST                       object
CERT                      int64
Acquiring Institution    object
Closing Date             object
Updated Date             object
dtype: object

In [23]:
print(df['Bank Name'])

0                    Washington Federal Bank for Savings
1        The Farmers and Merchants State Bank of Argonia
2                                    Fayette County Bank
3      Guaranty Bank, (d/b/a BestBank in Georgia & Mi...
4                                         First NBC Bank
                             ...
550                                   Superior Bank, FSB
551                                  Malta National Bank
552                      First Alliance Bank & Trust Co.
553                    National State Bank of Metropolis
554                                     Bank of Honolulu
Name: Bank Name, Length: 555, dtype: object

In [25]:
subset =df[['Bank Name', 'City','Closing Date', 'Updated Date']]
print(type(subset))
print(subset)

<class 'pandas.core.frame.DataFrame'>
                                           Bank Name         City  \
0                Washington Federal Bank for Savings      Chicago
1    The Farmers and Merchants State Bank of Argonia      Argonia
2                                Fayette County Bank   Saint Elmo
3  Guaranty Bank, (d/b/a BestBank in Georgia & Mi...    Milwaukee
4                                     First NBC Bank  New Orleans

  Closing Date Updated Date
0    15-Dec-17    20-Dec-17
1    13-Oct-17    20-Oct-17
2    26-May-17    26-Jul-17
3     5-May-17    26-Jul-17
4    28-Apr-17     5-Dec-17
---------
                                             Bank Name         City  \
0                  Washington Federal Bank for Savings      Chicago
1      The Farmers and Merchants State Bank of Argonia      Argonia
2                                  Fayette County Bank   Saint Elmo
3    Guaranty Bank, (d/b/a BestBank in Georgia & Mi...    Milwaukee
4                                       First NBC Bank  New Orleans
..                                                 ...          ...
550                                 Superior Bank, FSB     Hinsdale
551                                Malta National Bank        Malta
552                    First Alliance Bank & Trust Co.   Manchester
553                  National State Bank of Metropolis   Metropolis
554                                   Bank of Honolulu     Honolulu

    Closing Date Updated Date
0      15-Dec-17    20-Dec-17
1      13-Oct-17    20-Oct-17
2      26-May-17    26-Jul-17
3       5-May-17    26-Jul-17
4      28-Apr-17     5-Dec-17
..           ...          ...
550    27-Jul-01    19-Aug-14
551     3-May-01    18-Nov-02
552     2-Feb-01    18-Feb-03
553    14-Dec-00    17-Mar-05
554    13-Oct-00    17-Mar-05

[555 rows x 4 columns]

In [32]:
print(df.loc[0])
print(df.loc[[1,2,3,4]])

Bank Name                Washington Federal Bank for Savings
City                                                 Chicago
ST                                                        IL
CERT                                                   30570
Acquiring Institution                     Royal Savings Bank
Closing Date                                       15-Dec-17
Updated Date                                       20-Dec-17
Name: 0, dtype: object
                                           Bank Name         City  ST   CERT  \
1    The Farmers and Merchants State Bank of Argonia      Argonia  KS  17719
2                                Fayette County Bank   Saint Elmo  IL   1802
3  Guaranty Bank, (d/b/a BestBank in Georgia & Mi...    Milwaukee  WI  30003
4                                     First NBC Bank  New Orleans  LA  58302

                 Acquiring Institution Closing Date Updated Date
1                          Conway Bank    13-Oct-17    20-Oct-17
2            United Fidelity Bank, fsb    26-May-17    26-Jul-17
3  First-Citizens Bank & Trust Company     5-May-17    26-Jul-17
4                         Whitney Bank    28-Apr-17     5-Dec-17

In [34]:
print(df.loc[df.shape[0]-1])
print('-----')
print(df.tail(n=1))

Bank Name                  Bank of Honolulu
City                               Honolulu
ST                                       HI
CERT                                  21029
Acquiring Institution    Bank of the Orient
Closing Date                      13-Oct-00
Updated Date                      17-Mar-05
Name: 554, dtype: object
-----
            Bank Name      City  ST   CERT Acquiring Institution Closing Date  \
554  Bank of Honolulu  Honolulu  HI  21029    Bank of the Orient    13-Oct-00

    Updated Date
554    17-Mar-05

In [35]:
print(df.iloc[-1])

Bank Name                  Bank of Honolulu
City                               Honolulu
ST                                       HI
CERT                                  21029
Acquiring Institution    Bank of the Orient
Closing Date                      13-Oct-00
Updated Date                      17-Mar-05
Name: 554, dtype: object

In [43]:
print(df.groupby('City')['ST'])

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x0000020A44DB5850>